body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1f1f1f;
}

/* .navbar {
    background-color: #f5b8ff;
    color: #1f1f1f;
}

.footer {
    background-color: #f5b8ff;
    color: #1f1f1f;
} */
 
.dark-bg {
    background-color: #F59F42;
    color: #1f1f1f;
}

.med-bg {
    background-color: #A99BC5;
    color: #1f1f1f;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-top: 200px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #a26753;
}

.scale {
    width: 100%;
    left: 40px;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: visible;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #f59f42;
    color: black;
    position: relative;
    z-index: 2;
    padding-bottom: 10%;
    max-width: 800px;
    margin: 0 auto;
    top: 50%;
}

.masthead-image {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.masthead-image:after { /* Blog title colour and design */
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 70%;
/*    width: 150%; */
    background: #b3d979;
/*    -webkit-transform: skew(15deg); */
/*    -moz-transform: skew(15deg); */
/*    transform: skew(15deg); */
    z-index: 100;
}

.profile-image, .featured-image {
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: #13201a;
}

.post-link:hover,
.page-link {
    color: #7b3f00;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: black;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #13201a;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
